:root {
    --custom-yellow: #ede3ca;
    --custom-red: #3e1111;
    --custom-yellow-2: #cf9232;
    --custom-red-2: #8b1f1f;
  }
@import "tailwindcss";
@import './assets/fonts/LostVietnam.css';
@import "./assets//fonts//Alegraya.css";

/* Keyframes */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation utility classes */
.animate-slide-down {
  animation: slideDown 1s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s; /* Adjust delay as needed so top bar appears after the divs */
}

.animate-fade-in-no-delay {
  animation: fadeIn 2s ease-out forwards;
}
@keyframes slideLeftToRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRightToLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideLeftToRight {
  animation: slideLeftToRight 1s ease-out forwards;
}

.animate-slideRightToLeft {
  animation: slideRightToLeft 1s ease-out forwards;
}
/* Flip card CSS */
.flip-container {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  /*position: relative;*/
}

.flip-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

/* Three State Flip */
.flip-card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-face-1 {
  transform: rotateY(0deg);
  z-index: 3;
}

.flip-card-face-2 {
  transform: rotateY(-120deg);
  z-index: 2;
}

.flip-card-face-3 {
  transform: rotateY(-240deg);
  z-index: 1;
}

.flip-card[data-state="1"] {
  transform: rotateY(120deg);
}

.flip-card[data-state="2"] {
  transform: rotateY(240deg);
}

/* Two State Flip */
.flip-card-front,
.flip-card-back {
  position: absolute;
  /*width: 100%;
  height: 100%;*/
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

